<div id="<%= dom_id cliente %>">
  <p>
    <strong>Codigo:</strong>
    <%= cliente.codigo %>
  </p>
  
  <p>
    <strong>Correo electronico:</strong>
    <%= cliente.user.email %>
  </p>

  <p>
    <strong>Razon social:</strong>
    <%= cliente.razon_social %>
  </p>

  <p>
    <strong>Cif:</strong>
    <%= cliente.cif %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= cliente.direccion %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= cliente.municipio %>
  </p>

  <p>
    <strong>Provincia:</strong>
    <%= cliente.provincia %>
  </p>

  <p>
    <strong>Fecha inicio contrato:</strong>
    <%= cliente.fecha_inicio_contrato %>
  </p>

  <p>
    <strong>Fecha expiracion contrato:</strong>
    <%= cliente.fecha_expiracion_contrato %>
  </p>

  <p>
    <strong>Numero reconocimientos:</strong>
    <%= cliente.numero_reconocimientos %>
  </p>

</div>
