<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Código cliente: <%= cliente.codigo %></p>
  </div>

  <div>
    <%= form.label :razon_social, style: "display: block" %>
    <%= form.text_field :razon_social %>
  </div>

  <div>
    <%= form.label :cif, style: "display: block" %>
    <%= form.text_field :cif %>
  </div>

  <div>
    <%= form.label :direccion, style: "display: block" %>
    <%= form.text_field :direccion %>
  </div>

  <div>
    <%= form.label :municipio, style: "display: block" %>
    <%= form.text_field :municipio %>
  </div>

  <div>
    <%= form.label :provincia, style: "display: block" %>
    <%= form.text_field :provincia %>
  </div>

  <div>
    <%= form.label :fecha_inicio_contrato, style: "display: block" %>
    <%= form.date_field :fecha_inicio_contrato %>
  </div>

  <div>
    <%= form.label :fecha_expiracion_contrato, style: "display: block" %>
    <%= form.date_field :fecha_expiracion_contrato %>
  </div>

  <div>
    <%= form.label :numero_reconocimientos, style: "display: block" %>
    <%= form.number_field :numero_reconocimientos %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
