<div id="<%= dom_id cita %>">
  <p>
    <strong>Cliente:</strong>
    <%= cita.cliente_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= cita.fecha %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= cita.hora_inicio %>
  </p>

  <p>
    <strong>Numero solicitado:</strong>
    <%= cita.numero_solicitado %>
  </p>

  <p>
    <strong>Numero realizados:</strong>
    <%= cita.numero_realizados %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= cita.estado %>
  </p>

</div>
