<p style="color: green"><%= notice %></p>

<% content_for :title, "Citas" %>

<h1>Citas</h1>

<%= link_to "Inicio", root_path %>

<div id="citas">
  <% @citas.each do |cita| %>
    <%= render cita %>
    <p>
      <%= link_to "Show this cita", cita %>
    </p>
  <% end %>
</div>

<%= link_to "New cita", new_cita_path %>
